.popup-add__container {
    background-color: #FFFFFF;
    border-radius: 10px;
    width: 430px;
    margin: auto;
    position: relative;
    /*transform:translate(0, -50%);*/
}

@media screen and (max-width: 720px) {
    .popup-add__container {
        width: 282px;
    }
}