.elements__like {
    margin-right: 20px;
    margin-left: auto;
    margin-top: 30px;
    height: 19px;
    overflow: hidden;
    transition: opacity 0.23s;
}

.elements__like:hover {
    opacity: .5;
  }