/*.popup__close-button {
    padding: 0;
    /*margin-left: 438px;
    margin-bottom: 8px;*/
    /*position: absolute;
    width: 32px;
    height: 32px;
    background: none;
    border: none;
    transition: opacity 0.23s;
    left: 8px;
    bottom: 8px
/*}
*/.popup__close-button {
    padding: 0;
    /*margin-left: 438px;
    margin-bottom: 8px;*/
    position: relative;
    float: right;
    width: 32px;
    height: 32px;
    background: none;
    border: none;
    transition: opacity 0.23s;
    /*margin-left: 8px;*/
    left: 40px;
    bottom: 40px
}

.popup__close-button:hover {
    opacity: .6;
  }

@media screen and (max-width: 720px) {
    .popup__close-button {
        width: 20px;
        height: 20px;
        bottom:36px;
        left: 0px;
    }
}